.socialLinkFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.socialLinksForm {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.socialHandles {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

.socialHandles>input {
    width: 20vw;
    height: 4vh;
    border: 1px solid slategray;
    border-radius: 8px;
    padding: 10px;
}

.socialHandles>input:focus {
    outline: none;
    border: 2px solid darkcyan;
}

.socialHandles>input:disabled {
    background-color: rgba(128, 128, 128, 0.126);
    border: none;
}

.privacySetting {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.privacySetting>span {
    background-color: rgba(128, 128, 128, 0.247);
    padding: 4px;
    border-radius: 4px;
    margin-right: 10px;
}

.saveBtn,
.editBtn,
.cancelBtn,
.privacySetting>button {
    border: none;
    color: darkcyan;
    padding: 8px 12px;
    border-radius: 8px;
}

.saveBtn:hover,
.editBtn:hover,
.cancelBtn:hover,
.privacySetting>button:hover {
    color: white;
    background-color: darkcyan;
}

.editBtn,
.cancelBtn {
    width: 10%;
    margin-top: 10px;
}