.socialLinkFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.socialHandles {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.socialHandles>input {
    width: 20vw;
    height: 4vh;
    border: 1px solid slategray;
}

.socialLinksForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .saveBtn {
    margin-top: 10px
} */

.editBtn,
.cancelBtn {
    width: 10%;
    margin-top: 10px;
}