.addInterestForm {
    margin-top: 5vh;
}

.addInterestForm>input[type='text'] {
    width: 20vw;
    height: 4vh;
    border: 1px solid gray;
    border-right: 0;
    border-radius: 8px 0 0 8px;
}

.addInterestForm>input[type='text']:focus {
    outline: 0;
    border: 1px solid darkcyan;
    border-right: 0;
}

.addInterestForm>input[type='submit'] {
    height: 5vh;
    border: none;
    border-radius: 0 8px 8px 0;
}

.addInterestForm>input[type='submit']:hover {
    background-color: darkcyan;
    color: white;
}

.interestsContainer {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}