.profileContainer {
    margin: 2vh 10vw;

}

.profileHeaderContainer {
    position: relative;
}

.coverPic {
    width: 80vw;
    height: 40vh;
    background-color: rgba(0, 0, 0, 0.181);
    position: relative;
}

.coverPic>img {
    width: 80vw;
    height: 40vh;
}

.proPicAndNameContainer {
    display: flex;
    align-items: center;
    position: absolute;
    top: 80%;
}

.proPic {
    height: 150px;
    width: 150px;
    border: 3px solid darkcyan;
    border-radius: 50%;
}

.proPic>img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profileName {
    color: rgb(9, 60, 60);
    margin-left: 1vw;

}

.profileInformation {
    position: static;
    margin-top: 25vh;
}


.changeProfilePhoto {
    display: flex;
    position: absolute;
    bottom: -22%;
    right: 48%;
}

.changeCoverPhoto {
    display: flex;
    position: absolute;
    top: 10%;
    right: 10%;
}

.changeCoverPhoto>button,
.changeProfilePhoto>button {
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    color: darkcyan;
    cursor: pointer;
    margin-right: 10px;
}

.changeCoverPhoto>button:hover,
.changeProfilePhoto>button:hover {
    color: white;
    background-color: darkcyan;
}

.changeCoverPhoto>button:active,
.changeProfilePhoto>button:active {
    background-color: white;
    color: darkcyan;
}